body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pageSplit {
  min-height: 100vh;
  display: flex;
}
.pageSplit__element {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pageSplit__element:first-child {
  color: #ffffff;
  background: #00a7b4;
}
.pageSplit__element > * {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  white-space: pre;
}
@media only screen and (max-width: 768px) {
  .pageSplit {
    flex-direction: column;
  }
}
